streamlit>=1.30.0
pandas>=2.0.0
matplotlib>=3.7.0
seaborn>=0.12.0
numpy>=1.24.0
scipy>=1.10.0
supabase  # ← supabase-py ではなく supabase に修正！
python-dotenv
fpdf==1.7.2
pdf2image
pillow
streamlit-calendar
streamlit-nested-layout
